@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

@font-face {
	font-family: 'Golos';
	src: url('../fonts/golos/golos-text_regular.woff') format('woff'),
		url('../fonts/golos/golos-text_regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/inter/Inter-Regular.woff') format('woff'),
		url('../fonts/inter/Inter-Regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Bungee';
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--theme-bg: #000;
	--gray-text: rgba(255, 255, 255, 0.3);
	--gradient: #ff003c;
}


body {
	background: var(--theme-bg);
}

p,
h1,
h2,
h3 {
	margin: 0;
}

h2,
h1,
h3 {
	font-family: 'Bungee';
}

.container {
	max-width: 1704px;
	margin: 0 auto;
	padding: 0 120px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.logo-svg {
	background-size: contain;
	width: 120px;
	height: 80px;
}

.list-item__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-link {
	font-family: 'Golos';
	color: var(--white);
	font-size: 18px;
	font-weight: 400;
	line-height: 16.4px;
	-webkit-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.fade,
.fade.animate-open {
	-webkit-transition: opacity .1s ease;
	-o-transition: opacity .1s ease;
	transition: opacity .1s ease;
	opacity: 1;
}

.item-nav:not(:last-child) {
	margin-right: 25px;
}

.header {
	position: relative;
}


.video-background {
	background: #000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
}

.video-foreground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-background-content {
	height: 100%;
	width: 100%;
}

.container-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
}

.back-video {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	z-index: -1;
	height: 750px;
	opacity: 1;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.play {
	position: absolute;
	right: 120px;
	top: 220%;
	z-index: 5;
}

#video {
	width: 70px;
	height: 80px;
}

#video-play {
	position: absolute;
	width: 80px;
	height: 80px;
	left: -3px;
	top: -9px;
	opacity: 0;
	visibility: hidden;
}

.btn-order {
	width: 150px;
	display: inline-block;
	font-family: 'Golos';
	color: var(--white);
	font-size: 18px;
	font-weight: 400;
	line-height: 16.4px;
	padding: 15px 20px;
	border-radius: 25px;
	background: -o-linear-gradient(left, #EE0979, #FF6A00);
	background: -webkit-gradient(linear, left top, right top, from(#EE0979), to(#FF6A00));
	background: linear-gradient(0.25turn, #EE0979, #FF6A00);
	-webkit-transition-property: border-color color;
	-o-transition-property: border-color color;
	transition-property: border-color color;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.container-hero {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 618px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.hero-header {
	text-align: center;
	font-family: 'Bungee';
	font-size: 96px;
	font-weight: 400;
}

.bg-text__first {
	display: inline-block;
	position: relative;
	margin: 0;
	background-color: var(--white);
	background-image: url(../img/benzot.jpg);
	color: rgba(255, 255, 255, 0.2);
	background-position: 0px 95px;
	background-repeat: no-repeat;
	background-size: 330px 330px;
	background-clip: text;
	-webkit-text-stroke-color: #ffffff;
	 -webkit-text-stroke-width: 1px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: #0000;
	-webkit-animation: zeev 1s linear;
	animation: zeev 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	padding: 1px;
	-webkit-clip-path: inset(1px);
	clip-path: inset(1px)
}


.hero-header__two {
	font-size: 26px;
	line-height: 48px;
	font-weight: 300;
	color: var(--white);
	text-transform: uppercase;
	margin-right: 370px;
	margin-bottom: 16px;
}

.pro-icon {
	margin-top: -3px;
	margin-right: -0.3em;
	margin-left: 0.5em;
	width: 0.65em;
	vertical-align: super;
	fill: var(--white);
}

.bg-text__hero {
	display: inline-block;
	background-position: 0px 0px;
	-webkit-text-stroke-color: #ffffff;
	background-clip: text;
	-webkit-text-stroke-width: 1px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/back-hero.png');
	-webkit-animation: studio .5s linear;
	animation: studio .5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

.text-wrap {
	position: absolute;
	max-width: 100%;
	/* text-align: center; */
	top: 15%;
	-webkit-animation: leftRide .5s linear;
	animation: leftRide .5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

.hero-header-two {
	display: inline-block;
	text-align: left;
	color: var(--white);
}

.wrap-down__section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 0fr;
	animation: inspanim .5s linear;
	animation-fill-mode: forwards;
	animation-delay: 2.2s;
}

.hero-1 {
	-webkit-animation: hero .5s linear;
	animation: hero .5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
	margin-right: 5px;
}

.hero-2 {
	-webkit-animation: hero2 .5s linear;
	animation: hero2 .5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

.container-main {
	max-width: 1024px;
	padding: 50px 0;
}

.hero-paragraph__main {
	font-family: 'Inter';
	max-width: 47%;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}

.text-wrap__two {
	position: relative;
	margin-bottom: 50px;
	-webkit-transform: translateY(200px);
	-ms-transform: translateY(200px);
	transform: translateY(200px);
	z-index: -1;
}

.back-video__vynil {
	-o-object-fit: cover;
	object-fit: cover;
	overflow: hidden;
	max-width: 100%;
	border-radius: 24px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform .5s ease-in-out;
	transition: -webkit-transform .5s ease-in-out;
	-o-transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.wrap-video {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	border-radius: 24px;
	margin-bottom: 50px;
}

.part-two {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-transform: translate(0px, -220px);
	-ms-transform: translate(0px, -220px);
	transform: translate(0px, -220px);
	z-index: -1;
}

.play-vynyl {
	position: absolute;
	z-index: 3;
}

.pause-vynyl-svg {
	position: absolute;
	width: 78.5px;
	height: 65px;
	top: 31px;
	left: 53%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.play-vynyl-svg {
	width: 70px;
	height: 80px;
}

.header-team {
	text-align: center;
	font-family: 'Bungee';
	font-weight: 400;
	margin-bottom: 30px;
}

.our {
	font-size: 72px;
	line-height: 86px;
	color: var(--white);
}

.team {
	font-size: 96px;
	line-height: 115px;
	background-position: 0 0;
	-webkit-text-stroke-width: 1.4px;
	-webkit-text-stroke-color: #ffffff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url(../img/back1.jpg);
	background-position: right 0 bottom 300%;
	background-size: 470px 160px;
	background-repeat: no-repeat;
}


.back-text {
	background-position: 0 0;
	background-clip: text;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/fblur1.jpg');
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	transition: background-position .3s ease-in-out;
}

.back-text__two {
	background-position: center 0;
	background-clip: text;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/fblur2.webp');
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	transition: background-position .3s ease-in-out;
}

.back-text__three {
	background-position: center 0;
	background-clip: text;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/fblur3.webp');
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	transition: background-position .3s ease-in-out;
}

.back-text__fourth {
	background-position: center 0;
	background-clip: text;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/fblur4.webp');
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	transition: background-position .3s ease-in-out;
}

.back-text__fifth {
	background-position: center 0;
	background-clip: text;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/fblur5.webp');
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	transition: background-position .3s ease-in-out;
}

.back-text__sixth {
	background-position: center 0;
	background-clip: text;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-image: url('../img/fblur6.webp');
	background-repeat: no-repeat;
	-webkit-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	transition: background-position .3s ease-in-out;
}

.container-team {
	padding-top: 50px;
	padding-bottom: 100px;
}

.list-team {
	display: -ms-grid;
	display: grid;
	max-width: 1864px;
	margin: 0 auto;
	-ms-grid-columns: 1fr 50px 1fr 50px 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	grid-gap: 50px;
	grid-auto-flow: row;
	-webkit-transform: translateY(-180px);
	-ms-transform: translateY(-180px);
	transform: translateY(-180px);
	opacity: 0;
	visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}

.second-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.wrap-user {
	position: relative;
	max-width: 100%;
	padding: 20px;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.first-user {
	background-image: url(../img/f1.webp);
}

.second-user {
	background-image: url(../img/f2.webp);
}

.third-user {
	background-image: url(../img/f3.webp);
}

.fourth-user {
	background-image: url(../img/f4.webp);
}

.fifth-user {
	background-image: url(../img/f5.webp);
}

.sixth-user {
	background-image: url(../img/f6.webp);
}

.header-user {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color: var(--white);
	text-transform: uppercase;
	margin-bottom: 6px;
}

.text-bio__user {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 12px;
	line-height: 13px;
	color: var(--white);
	text-transform: uppercase;
}

.item-user {
	position: relative;
	cursor: pointer;
	min-height: 335px;
	z-index: 1;
	overflow: hidden;
}

.wrap-opacity__user {
	position: absolute;
	width: 88%;
	height: 88%;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	opacity: 0;
	z-index: -1;
	-webkit-transition-property: opacity z-index;
	-o-transition-property: opacity z-index;
	transition-property: opacity z-index;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.wrap-user__text {
	min-height: 85%;
}

.linked {
	margin-right: 12px;
}

.settings-text {
	font-family: 'Bungee';
	font-size: 32px;
	font-weight: 400;
	line-height: 38px;
	color: var(--white);
}

.collection-text {
	-webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);

}

.settings-header {
	font-family: 'Bungee';
	font-size: 96px;
	font-weight: 400;
	line-height: 115px;
	color: var(--white);
	margin-bottom: 50px;
}

.our-text {
	opacity: 0;
}

.our-text,
.collection-text {
	padding-left: 70px;
}

.head-portfolio {
	text-align: center;
	opacity: 0;
}

.link-portfolio {
	font-family: 'Golos';
	font-size: 21px;
	line-height: 14px;
	color: var(--white);
	border-bottom: 1px solid var(--white);
	margin-right: 5px;
	padding-bottom: 4px;
}

.container-portfolio {
	padding: 0 120px;
}

.port3 {
	max-width: 265px;
	max-height: 120px;
	position: absolute;
	right: 13%;
}

.wrap-text__contacts {
	max-width: 1024px;
	margin: 0 auto;
}

.wrap-contact {
	padding-left: 100px;
}

.our-contacts__header {
	opacity: 0;
	margin-bottom: 30px;
}

.list-portfolio {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 30px auto 30px auto;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	margin-bottom: 50px;
}

.first-section {
	display: none;
	-webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
}

.second-section {
	display: none;
	-webkit-transform: translateX(500px);
	-ms-transform: translateX(500px);
	transform: translateX(500px);
}

.portfolio-item {
	text-align: center;
	padding: 10px;
}

.img-portfolio {
	width: 100%;
}

.link-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Golos';
	font-size: 14px;
	line-height: 18px;
	color: var(--white);
	background-repeat: no-repeat;
	background-size: contain;
}

.link-contact>svg {
	margin-right: 5px;
}

.phone {
	-webkit-transform: translateY(-35px);
	-ms-transform: translateY(-35px);
	transform: translateY(-35px);
	opacity: 0;
	font-weight: 600;
	margin-bottom: 16px;
}

.mail {
	-webkit-transform: translateY(35px);
	-ms-transform: translateY(35px);
	transform: translateY(35px);
	opacity: 0;
	font-weight: 500;
}


.wrap-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.wrap-map {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

#map {
	position: relative;
	width: 60%;
	height: 457px;
	opacity: 0;
	-webkit-transform: translate(-100%, 0px);
	-ms-transform: translate(-100%, 0px);
	transform: translate(-100%, 0px);
}



[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: invert(90%);
	-ms-filter: invert(90%);
	-webkit-filter: invert(90%);
	-moz-filter: invert(90%);
	-o-filter: invert(90%);
}

.container-contacts {
	padding-top: 55px;
	padding-bottom: 25px;
}


#map>ymaps {
	border: 5px solid var(--theme-bg);
	border-radius: 25px;
	overflow: hidden;
}

.nav-settings__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.set-item__link {
	font-family: 'Golos';
	font-size: 14px;
	line-height: 19px;
	color: var(--gray-text);
}

.navigation-footer {
	margin-bottom: 24px;
}

.set-item:not(:last-child) {
	margin-right: 30px;
}

.container-footer {
	padding-top: 65px;
	padding-bottom: 65px;
}

.svg-logo__footer {
	margin-bottom: 15px;
}

.footer-text__style {
	font-family: 'Golos';
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: var(--gray-text);
}

.addres {
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.footer {
	background: rgba(7, 7, 7, 1);
}

.graph-modal__close {
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	right: 25px;
	top: 35px;
}

.graph-modal__container {
	width: 600px;
	background-color: rgba(7, 7, 7, 1);
	display: inline-block;
}

.modal-header {
	font-family: 'Golos';
	font-size: 46px;
	line-height: 55px;
	font-weight: 400;
	color: var(--white);
}

.wrap-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.section-contacts__input {
	outline: none;
	width: 100%;
	font-family: 'Golos';
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	border: none;
	background: none;
	color: var(--white);
	border-bottom: 1px solid rgb(64, 64, 64);
}

.modal-header {
	margin-bottom: 20px;
}

.section-contacts__form-group {
	margin-bottom: 30px;
}

.btn-primary {
	font-family: 'Golos';
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 3px;
	padding: 9px 0;
	margin-bottom: 20px;
}

.modal-paragraph {
	max-width: 85%;
	font-family: 'Golos';
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	color: var(--white);
}

.invalid-feedback {
	font-family: 'Golos';
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: var(--gradient);
	opacity: 0;
}

.is-invalid {
	opacity: 1;
}

::-webkit-input-placeholder {
	color: var(--white);
}

:-moz-placeholder {
	color: var(--white);
}

::-moz-placeholder {
	color: var(--white);
}

:-ms-input-placeholder {
	color: var(--white);
}

.head-mobile {
	display: none;
}

.mobile-of {
	display: none;
}

.animated {
	position: absolute;
	color: var(--white);
	top: 0px;
	bottom: 33px;
	left: 1px;
	text-align: center;
	font-family: 'Bungee';
	font-size: 96px;
	font-weight: 400;
	animation-delay: 1s;
	opacity: 0;
	-webkit-transform: translateX(-75.5px) translateY(-20px) scale(1.6);
	transform: translateX(-75px) translateY(-12px) scale(1.6);
	animation: blink 3s linear infinite;
	animation-delay: 2.9s;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@-webkit-keyframes zeev {
	0% {
		background-position: 0 0%;
		-webkit-transform: translateX(0px) translateY(0px) scale(1);
		transform: translateX(0px) translateY(0px) scale(1);
	}

	50% {
		background-position: 0px 50%;
		-webkit-transform: translateX(-40px) translateY(-13px) scale(1.3);
		transform: translateX(-40px) translateY(-13px) scale(1.3);
	}

	100% {
		background-position: 0px 100%;
		-webkit-transform: translateX(-75.5px) translateY(-20px) scale(1.6);
		transform: translateX(-75.5px) translateY(-20px) scale(1.6);

	}
}



@keyframes zeev {
	0% {
		background-position: 0 0%;
		-webkit-transform: translateX(0px) translateY(0px) scale(1);
		transform: translateX(0px) translateY(0px) scale(1);
	}

	50% {
		background-position: 0px 50%;
		-webkit-transform: translateX(-40px) translateY(-13px) scale(1.3);
		transform: translateX(-40px) translateY(-13px) scale(1.3);
	}

	100% {
		background-position: 0px 100%;
		-webkit-transform: translateX(-75.5px) translateY(-20px) scale(1.6);
		transform: translateX(-75.5px) translateY(-20px) scale(1.6);
	}
}


@-webkit-keyframes studio {
	100% {
		-webkit-transform: translateX(-414px) translateY(85px);
		transform: translateX(-414px) translateY(85px);

	}
}

@keyframes studio {
	100% {
		-webkit-transform: translateX(-414px) translateY(85px);
		transform: translateX(-414px) translateY(85px);

	}
}

@-webkit-keyframes leftRide {
	from {
		left: 28%;
	}

	to {
		left: calc(0% + 267px);
	}
}

@keyframes leftRide {
	from {
		left: 28%;
	}

	to {
		left: calc(0% + 267px);
	}
}

@-webkit-keyframes hero2 {
	100% {
		-webkit-transform: translateX(-336px) translateY(95px);
		transform: translateX(-150px) translateY(70px);
	}
}

@keyframes hero2 {
	100% {
		-webkit-transform: translateX(-336px) translateY(95px);
		transform: translateX(-150px) translateY(70px);
	}
}

@-webkit-keyframes hero {
	100% {
		-webkit-transform: translateX(-147px) translateY(68px);
		transform: translateX(-147px) translateY(70px);
	}
}

@keyframes hero {
	100% {
		-webkit-transform: translateX(-147px) translateY(68px);
		transform: translateX(-147px) translateY(70px);
	}
}

@keyframes inspanim {
	100% {
		grid-template-columns: none;
	}

}
 

@media (max-width: 1268px) {

	.container {
		padding: 0 75px;
	}

	.container-contacts {
		padding-bottom: 75px;
	}

	.container-footer {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	.container-header {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.container-portfolio {
		padding-top: 25px;
	}

	.play {
		right: 8%;
		top: 380%;
	}

	.container-main {
		padding: 50px 50px 50px 50px;
	}

	.part-two {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.text-wrap {
		top: 20%
	}

	.mobile-of {
		display: inline-block;
	}

	.desktop-off {
		display: none;
	}

	.wrap-text__contacts {
		text-align: center;
		max-width: 100%;
	}

	.our-text,
	.collection-text {
		padding-left: 0;
	}

	.wrap-contact {
		padding-left: 0;
	}


}


@media (max-width: 881px) {

	.container-header {
		padding: 25px;
	}

	.hero-paragraph__main {
		max-width: 60%;
	}

	.container-hero,
	.container-header {
		padding-left: 50px;
		padding-right: 50px;
	}

	.play {
		top: 130%;
	}


	.header-nav:not(:last-child) {
		display: none;
	}

	.play {
		top: 320%;
	}

	.list-team {
		-ms-grid-columns: 1fr 50px 1fr;
		grid-template-columns: repeat(2, 1fr);
	}

	.container-header,
	.container-contacts,
	.container-portfolio,
	.container-team {
		padding-left: 25px;
		padding-right: 25px;
	}

}

@media (max-width: 736px) {

	.container-main {
		padding: 75px 50px 50px 50px;
	}

	.text-wrap {
		top: 0%;
	}

	.play {
		top: 170%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	#video-play {
		width: 79px;
		height: 80px;
		left: 50.5%;
		top: 31px;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.bg-text__first {
		display: none;
	}

	.swiper {
		margin: 50px auto;
		margin-top: 0;
		max-width: 500px;
		height: 420px;
		padding: 0 50px;
		overflow: hidden;
		padding-bottom: 50px;
	}

	.swiper-pagination-bullet {
		opacity: 1;
		background-color: var(--white);
	}

	.swiper-pagination-bullet-active {
		background-color: var(--gradient);
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 45%;
		display: block;
		opacity: 0;
		color: var(--white);
	}

	.list-team {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 0;
		grid-gap: 0 !important;
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}

	.wrap-opacity__user {
		opacity: 1;
		z-index: 5;
		height: 91%;
	}

	.item-user {
		min-height: 400px;
		min-height: inherit;
	}

	.bg-text__hero {
		display: block;
		font-size: 98px;
	}

	.hero-paragraph__main {
		max-width: 75%;
	}

	.back-video__vynil {
		height: 400px;
		width: 100%;
	}

	.head-mobile {
		display: block;
		margin-bottom: 15px;
		height: 480px;
	}

	.hero-header {
		line-height: 86px;
	}

	.head-mobile>div {
		font-size: 142px;
		color: var(--white);
		height: 112px;
		display: inline-block;
	}

	.bg-text__hero {
		font-size: 95px;
	}

	.prop-el {
		position: absolute;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
	}

	.el1 {
		-webkit-animation-name: book1;
		animation-name: book1;
		top: -30px;
		width: 100px;
		left: 153px;
	}

	.el2 {
		-webkit-animation-name: book2;
		animation-name: book2;
		top: 95px;
		width: 100px;
		left: 153px;
	}

	.el3 {
		-webkit-animation-name: book3;
		animation-name: book3;
		top: 220px;
		left: 153px;
		right: 0;
		width: 100px;
	}

	.el4 {
		-webkit-animation-name: book4;
		animation-name: book4;
		top: 345px;
		left: 150px;
		right: 0;
		width: 100px;
	}

	@-webkit-keyframes book1 {
		100% {
			left: 0px;
			bottom: 0;
			top: 350px;
		}
	}

	@keyframes book1 {
		100% {
			left: 0px;
			bottom: 0;
			top: 350px;
		}
	}

	@-webkit-keyframes book2 {
		100% {
			left: 95px;
			bottom: 0;
			top: 350px;
		}
	}

	@keyframes book2 {
		100% {
			left: 95px;
			bottom: 0;
			top: 350px;
		}
	}

	@-webkit-keyframes book3 {
		100% {
			left: 194px;
			bottom: 0;
			top: 350px;
		}
	}

	@keyframes book3 {
		100% {
			left: 193px;
			bottom: 0;
			top: 350px;
		}
	}

	@-webkit-keyframes book4 {
		100% {
			left: 294px;
			top: 350px;
		}
	}

	@keyframes book4 {
		100% {
			left: 294px;
			top: 350px;
		}
	}

	.back-video {
		visibility: hidden;
		-webkit-animation-duration: 3s;
		animation-duration: 3s;
		-webkit-animation-name: animVideo;
		animation-name: animVideo;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		opacity: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 134px;
		height: 307px;
	}

	@-webkit-keyframes animVideo {
		100% {
			visibility: visible;
			opacity: 1;
		}
	}

	@keyframes animVideo {
		100% {
			visibility: visible;
			opacity: 1;
		}
	}

	.play {
		top: 215%;
		-webkit-animation-duration: 3s;
		animation-duration: 3s;
		-webkit-animation-name: animBtn;
		animation-name: animBtn;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		visibility: hidden;
		opacity: 0;
	}


	@-webkit-keyframes animBtn {
		100% {
			visibility: visible;
			opacity: 1;
		}
	}


	@keyframes animBtn {
		100% {
			visibility: visible;
			opacity: 1;
		}
	}

	.hero-header__two {
		margin-right: 0;
	}

	.mobile-word {
		display: block;
	}

	#map {
		width: 100%;
	}

	.wrap-text__contacts {
		margin-bottom: 50px;
	}

	.container-contacts {
		padding-bottom: 50px;
	}

	.container-footer {
		padding: 25px;
	}

	.list-item__nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.footer-nav:not(:last-child) {
		margin-bottom: 25px;
	}

	.list-portfolio {
		-ms-grid-columns: none;
		grid-template-columns: none;
	}

	.graph-modal__container {
		width: 98%;
	}

	.list-team {
		-webkit-transform: translateY(-500px);
		-ms-transform: translateY(-500px);
		transform: translateY(-500px);
		opacity: 0;
	}


}


@media (max-width: 387px) {
	.swiper {
		padding: 0;
		padding-bottom: 30px;
	}

	.swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 10px;
	}
}

@media (max-width: 1466px) {

	.hero-header {
		font-size: 79px;
	}

	@-webkit-keyframes zeev {
		0% {
			background-position: 0 0%;
			-webkit-transform: translateX(0px) translateY(0px) scale(1);
			transform: translateX(0px) translateY(0px) scale(1);
		}

		50% {
			background-position: 0px 50%;
			-webkit-transform: translateX(-25px) translateY(-6px) scale(1.2);
			transform: translateX(-25px) translateY(-6px) scale(1.2);
		}

		100% {
			background-position: 0px 100%;
			-webkit-transform: translateX(-38px) translateY(-9px) scale(1.3);
			transform: translateX(-38px) translateY(-9px) scale(1.3);
		}
	}
	
	.animated {
		font-size: 79px;
		-webkit-transform: translateX(-38px) translateY(-4.5px) scale(1.3);
		transform: translateX(-38px) translateY(-4.5px) scale(1.3);
		}

	@keyframes zeev {
		0% {
			background-position: 0 0%;
			-webkit-transform: translateX(0px) translateY(0px) scale(1);
			transform: translateX(0px) translateY(0px) scale(1);
		}

		50% {
			background-position: 0px 50%;
			-webkit-transform: translateX(-25px) translateY(-6px) scale(1.2);
			transform: translateX(-25px) translateY(-6px) scale(1.2);
		}

		100% {
			background-position: 0px 100%;
			-webkit-transform: translateX(-38px) translateY(-9px) scale(1.3);
			transform: translateX(-38px) translateY(-9px) scale(1.3);
		}
	}

	@-webkit-keyframes studio {
		100% {
			-webkit-transform: translateX(-290px) translateY(65px);
			transform: translateX(-290px) translateY(65px);
			font-size: 65px;

		}
	}


	@keyframes studio {
		100% {
			-webkit-transform: translateX(-290px) translateY(65px);
			transform: translateX(-290px) translateY(65px);
			font-size: 65px;

		}
	}

	@-webkit-keyframes leftRide {
		from {
			left: 250px;
		}

		to {
			left: calc(0% + 141px);
		}
	}

	@keyframes leftRide {
		from {
			left: 250px;
		}

		to {
			left: calc(0% + 141px);
		}
	}

	@-webkit-keyframes inspanim {
		100% {
			-webkit-transform: translateX(-68px) translateY(60px);
			transform: translateX(-68px) translateY(60px);
		}
	}

	@keyframes inspanim {
		100% {
			-webkit-transform: translateX(-68px) translateY(60px);
			transform: translateX(-68px) translateY(60px);
		}
	}

	@-webkit-keyframes hero2 {
		100% {
			-webkit-transform: translateX(-71px) translateY(56px);
			transform: translateX(-71px) translateY(56px);
		}
	}

	@keyframes hero2 {
		100% {
			-webkit-transform: translateX(-71px) translateY(56px);
			transform: translateX(-71px) translateY(56px);
		}
	}

	@-webkit-keyframes hero {
		100% {
			-webkit-transform: translateX(-70px) translateY(55px);
			transform: translateX(-70px) translateY(55px);
		}
	}

	@keyframes hero {
		100% {
			-webkit-transform: translateX(-70px) translateY(55px);
			transform: translateX(-70px) translateY(55px);
		}
	}

	@keyframes inspanim {
		100% {
			grid-template-columns: none;
		}

	}
}

@media (max-width: 1024px) {

	@-webkit-keyframes leftRide {
		from {
			left: 180px;
		}

		to {
			left: calc(0% + 141px);
		}
	}

	@keyframes leftRide {
		from {
			left: 180px;
		}

		to {
			left: calc(0% + 141px);
		}
	}

}

@media (max-width: 924px) {
	@-webkit-keyframes leftRide {
		from {
			left: 100px;
		}

		to {
			left: calc(0% + 101px);
		}
	}

	@keyframes leftRide {
		from {
			left: 100px;
		}

		to {
			left: calc(0% + 101px);
		}
	}
}

@media (max-width: 736px) {

	.hero-header-two {
		font-size: 29px;
		letter-spacing: 0.3px;
	}

	.head-mobile {
		margin-bottom: 20px;
	}

	.hero-header {
		font-size: 95px;
	}

	.animated {
		display: none;
	}

	@-webkit-keyframes zeev {
		0% {
			-webkit-animation: none;
			animation: none;
		}

		50% {
			-webkit-animation: none;
			animation: none;

		}

		100% {
			-webkit-animation: none;
			animation: none;

		}
	}

	@keyframes zeev {
		0% {
			-webkit-animation: none;
			animation: none;
		}

		50% {
			-webkit-animation: none;
			animation: none;

		}

		100% {
			-webkit-animation: none;
			animation: none;

		}
	}

	@-webkit-keyframes studio {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}


	@keyframes studio {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@-webkit-keyframes leftRide {
		from {
			-webkit-animation: none;
			animation: none;
		}

		to {
			-webkit-animation: none;
			animation: none;
		}
	}

	@keyframes leftRide {
		from {
			-webkit-animation: none;
			animation: none;
		}

		to {
			-webkit-animation: none;
			animation: none;
		}
	}

	@-webkit-keyframes inspanim {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@keyframes inspanim {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@-webkit-keyframes hero {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@keyframes hero {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@-webkit-keyframes hero2 {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@keyframes hero2 {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	@keyframes hero {
		100% {
			-webkit-animation: none;
			animation: none;
		}
	}

	.play-vynyl,
	.play {
		display: none;
	}

	.wrap-down__section {
		display: inline-block;
	}
}

@media (max-width: 516px) {

	.swiper {
		margin-bottom: 0;
	}

	.container-portfolio {
		padding-top: 50px;
	}

	.our-contacts__header,
	.head-portfolio {
		line-height: 84px;
	}

	.hero-paragraph__main {
		max-width: 94%;
	}

	.hero-header {
		line-height: 60px;
	}

	.head-mobile>div {
		font-size: 110.5px;
	}

	.prop-el {
		left: calc(253px / 2 - 55px);
		width: 67px;
	}

	.el2 {
		top: 60px;
	}

	.el3 {
		top: 149px;
	}

	.el4 {
		left: calc(246px / 2 - 55px);
		top: 237px;
	}

	.head-mobile {
		height: 360px;
		margin-bottom: 12px;
	}

	.bg-text__hero {
		font-size: 55px;
	}

	.logo-svg {
		width: 80px;
	}

	.container-header {
		padding: 15px 15px 0 15px;
	}

	.container-team {
		padding: 0 15px;
	}

	.btn-order {
		width: 100px;
		font-size: 14px;
		line-height: 6.4px;
		padding: 15px 10px;
	}

	#video {
		width: 72px;
	}

	.modal-header {
		font-size: 36px;
	}

	.text-wrap {
		padding-top: 7%;
	}

	.settings-header {
		font-size: 80px;
	}


	.hero-header-two {
		font-size: 16.5px;
	}

	@-webkit-keyframes book1 {
		100% {
			font-size: 77px;
			left: 7px;
			bottom: 0;
			top: 325px;
		}
	}

	@keyframes book1 {
		100% {
			font-size: 77px;
			left: 7px;
			bottom: 0;
			top: 325px;
		}
	}

	@-webkit-keyframes book2 {
		100% {
			font-size: 77px;
			left: 62px;
			bottom: 0;
			top: 325px;
		}
	}

	@keyframes book2 {
		100% {
			font-size: 77px;
			left: 62px;
			bottom: 0;
			top: 325px;
		}
	}

	@-webkit-keyframes book3 {
		100% {
			font-size: 77px;
			left: 117px;
			bottom: 0;
			top: 325px;
		}
	}

	@keyframes book3 {
		100% {
			font-size: 77px;
			left: 117px;
			bottom: 0;
			top: 325px;
		}
	}

	@-webkit-keyframes book4 {
		100% {
			font-size: 77px;
			left: 174px;
			top: 325px;
		}
	}

	@keyframes book4 {
		100% {
			font-size: 77px;
			left: 174px;
			top: 325px;
		}
	}

	.back-video {
		top: 99px;
	}

	.container-main {
		padding: 15px;
	}

	.hero-header__two {
		margin-bottom: 5px;
	}

	.text-wrap__two {
		margin-bottom: 25px;
	}

	.wrap-video {
		margin-bottom: 25px;
	}

	.back-video__vynil {
		height: 254px;
	}

	.container-hero {
		min-height: 0;
		height: 500px;
	}

	.play {
		top: 270%;
	}

	.nav-settings__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.set-item:not(:last-child) {
		margin-bottom: 15px;
	}
}

@media (min-width: 736px) {

	.play-vynyl:hover:not(:focus-visible)+video {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	.item-user:hover:not(:focus-visible) .wrap-user {
		opacity: 1;
		-webkit-filter: blur(16px);
		filter: blur(16px);
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}

	.item-user:hover:not(:focus-visible) .wrap-opacity__user {
		opacity: 1;
		z-index: 1;
	}

} 